@model IEnumerable<Food.Entity.Products>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pd_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pd_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pd_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pd_ReducePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pd_Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.pd_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pd_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pd_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pd_ReducePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pd_Rate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.pd_Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.pd_Id">Details</a> |
                        <a asp-action="Hidden" asp-route-id="@item.pd_Id">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
