@model IEnumerable<Food.Entity.Coupons>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.couponCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.couponPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.couponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.couponPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.couponId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.couponId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.couponId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
